*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: beige ;
}
.header{
    background-color: wheat;
    display: flex;
    justify-content: space-around;
    height: fit-content;
    padding: 10px 0;
}
.logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 1px black;
    background-image: url(descarga\ \(2\).png);
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 4rem;
}
.contenido{
    border: 1px solid black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}
.boton{
    background-color: red;
    border: 1px solid black;
    margin: 30px;
    height: 300px;
    width: 300px;
    
}
.menu{
    border: solid black;
    background-color: brown;
    width: 50px;
    height: 50px;
}
#menufloat{
    background-color: antiquewhite;
    backdrop-filter: blur(30px);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.616);
    position: absolute;
    border-radius: 20px 0 0 20px;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    transition: .5s ease;
}
#cerrarfloat{
    background-color: brown;
    border: solid black;
    height: 50px;
    width: 50px;
}
#menufloat.active{
    right: 0;
}
.ventana{
    display: none;
    
}
.ventana.active{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.452);
    backdrop-filter: blur(20px);
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}
.cuadro{
    border: solid black;
    background-color: beige;
    border-radius: 20px;
    height: 500px;
    width: 800px;
}
.cerrar{
    border: solid black;
    background-color: black;
    width: 20px;
    height: 20px;
}
.enlace{
    text-decoration: none;
    border: 1px solid black;
    background-color: rgba(165, 42, 42, 0.603);
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: .5s;
}
.enlace:hover{
    transition: .5s;
    background-color: rgba(165, 42, 42, 0.918);
}